.product-category {
    border: solid red;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
        border: solid;
        margin: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 360px;
        cursor: pointer;
        > img {
            width: 100%;
        }
    }
}