.product {
    display: flex;
    padding: 5rem;
    flex-direction: column;
    &-title {
        text-align: left;
        margin-left: 3%;
    }
    &-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        min-width: 100%;
        padding: 26px;
        &-second-side {
            display: flex;
            padding: 10px;
        }
    }
}