* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page-main {
    border: solid;
    min-height: 1600px;
    background-color: #fff;
    &-wrapper {
        margin: auto;
        width: 1600px;
    }
}